<div class="nav-me m">
	<a href="#/app/me">
		<i class="fa fa-user fa-2x"></i>
	</a>
</div>

<nav>
	<ul class="nav">
		<li>
			<div>
				<a href="#/app/tasks">
					<i class="fa fa-book fa-2x"></i>
					<br class="m">
					tasks
				</a>
			</div>
		</li>
		<li>
			<div>
				<a href="#/app/tests">
					<i class="fa fa-flag-checkered fa-2x"></i>
					<br class="m">
					tests
				</a>
			</div>
		</li>
		<li>
			<div>
				<a href="#/app/dashboard">
					<img src="assets/img/logo_w.png" class="dashboard-icon">
					<br class="m">
					dashboard
				</a>
			</div>
		</li>
		<li>
			<div>
				<a href="#/app/calendar">
					<i class="fa fa-calendar fa-2x"></i>
					<br class="m">
					calendar
				</a>
			</div>
		</li>
		<li>
			<div>
				<a href="#/app/events">
					<i class="fa fa-gift fa-2x"></i>
					<br class="m">
					events
				</a>
			</div>
		</li>
		
		<li class="pull-right d">
			<div>
				<a href="#/app/me">
					username <i class="fa fa-user fa-2x"></i>
				</a>
			</div>
		</li>
	</ul>
</nav>

<script src="assets/js/help/nav.js"></script>