
.mt50 {
	margin-top: 50px;
}

.mt15 {
	margin-top: 15px;
}

.mt10 {
	margin-top: 10px;
}

#errorMessage {
	color: #f00;
}

.m {
	display: none;
}

.d {
	display: block;
}

@media screen and (max-width: 768px){
	.m {
		display: block;
	}
	.d {
		display: none;
	}
}