<form class="center-block v-center">
	<img src="assets/img/logo_b.png" class="center-block center-logo">

	<div class="mt50"></div>

	<div class="login">
		<div class="user-input-wrp">
			<br/>
			<input type="text" class="inputText" id="username" required>
			<span class="floating-label">username:</span>
		</div>
		<div class="mt10"></div>

		<div class="user-input-wrp pass">
			<input type="password" class="inputText" id="password" required>
			<span class="floating-label">password:</span>
		</div>
		<div class="mt10 text-center">
			<p id="errorMessage"></p>
		</div>

		<div class="">
			<p class="pull-left mt10"><small>forget your password?</small></p>
			<input type="button" value="login" class="pull-right login-btn" id="loginBtn">
		</div>
	</div>
</form>

<div class="copy">
	<p>copyright 2018 &copy; i3albo</p>
</div>

<script src="assets/js/requests/login.js"></script>
